doctype html
html.no-js(lang='en', ng-app='admin', ng-Controller='AdminCtrl')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include ../partials/admin-common-include
    script(src='../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
    title Jacob Stenzel | Programmer | Composer
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    div.site-background-frame
        div.site-background
        div.site-foreground
          include ../partials/view-components/admin/logo
          include ../partials/view-components/admin/navbar.html
          include ../partials/view-components/logo-area-mask
          include ../partials/view-components/admin/admin-blog-content

include ../partials/admin-script-include
script(src="admin.js")
script(src="admin-blog.js")