div.container-fluid.content-box
	div.row
		a(href='/admin/projects')
			div.admin-landing.content-panel-1.col-md-offset-4.col-md-4
				h1 Projects
	div.row
		a(href='/admin/music')
			div.admin-landing.content-panel-1.col-md-offset-4.col-md-4
				h1 Music
	div.row
		a(href='/admin/blog')
			div.admin-landing.content-panel-1.col-md-offset-4.col-md-4
				h1 Blog