div.container-fluid.content-box(ng-controller="LoginCtrl", ng-show="$state.is('login')")
	div.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
		div.column-spacer(bind-to-height="['height','#login-panel']")
		div#login-panel.login(ng-show="$state.is('login')")
			div.content-panel-1
				h1 Login
				form(ng-submit="submitLogin(usernameForm, passwordForm)")
					div.form-group
						input.form-control(type="text", name='username', class="form-control", placeholder="Username", ng-model="usernameForm")
					div.form-group
						input.form-control(type="password", name='password', placeholder="Password", ng-model="passwordForm")
					button.btn.btn-default(type="submit", id="enter", value="Submit") Submit