div.container-fluid.content-box(ng-controller="LoginCtrl", ng-show="$state.is('login')")
	div.login-wrapper.col-sm-offset-4.col-sm-4
		div.content-panel-admin.login(ng-show="$state.is('login')")
			h1 Login
			div.input-group
				input.form-control(type="text" class="form-control" placeholder="Username")
			div.input-group
				input.form-control(type="password" class="form-control" placeholder="Password")
			div.btn-group(role="group")
				button.btn.btn-default(type="button") Submit