include ./view-components/logo
include ./view-components/navbar.html
include ./view-components/logo-area-mask
include ./view-components/admin/login-rack

include ./view-components/welcome-message

include ./view-components/landing-pages/composer-landing
include ./view-components/landing-pages/programmer-landing
include ./view-components/landing-pages/general-landing
include ./view-components/about
include ./view-components/connect-page
include ./view-components/projects
include ./view-components/music
include ./view-components/blog
include ./view-components/admin/login