div.container-fluid.content-box-subtle(ng-show="$state.is('about')")
	div.col-md-offset-3.col-md-6
		div.column-spacer(bind-to-height="['height','#about-panel']")
		div#about-panel.pop-panel(ng-show="$state.is('about')")
			div.content-panel-1
				div.clearfix
					h1 About Jacob Stenzel
					hr.header-hr
				div.clearfix
					div.thumb-left
						img(src="images/photoshoot-01.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['about-intro'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix
					hr
				div.clearfix
					h2 Academic
				div.clearfix
					div.thumb-right
						img(src="images/tiletraveler-01.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['about-academic'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix
					hr
				div.clearfix
					h2 Fidelity
				div.clearfix
					div.thumb-left
						img(src="images/fidelity.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['about-fidelity'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix
					hr
				div.clearfix
					h2 L2Ork
				div.clearfix
					div.thumb-right
						img(src="images/l2ork.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['about-l2ork'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix
					hr
				div.clearfix
					h2 MusiComp
				div.clearfix
					div.thumb-left
						img(src="images/musicomp.png",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['about-musicomp'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix
					hr
				div.clearfix
				div.clearfix
					p For those interested, you may contact Jacob or learn more about him #[a(ui-sref="connect") here].
				div.clearfix
