div.container-fluid.content-box-subtle(ng-show="$state.is('connect')")
	div.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
		div.column-spacer(bind-to-height="['height','#connect-panel']")
		div#connect-panel.pop-panel(ng-show="$state.is('connect')")
			div.content-panel-1.connect-card
				div.clearfix
					div.thumb-left
						img(src="images/photoshoot-04.jpg",width="auto",height="150px")
					h1 Jacob Stenzel
					table
						tr
							td
								p LinkedIn
							td
								a(href="https://www.linkedin.com/in/jacobstenzel") Jacob Stenzel
						tr
							td
								p GitHub
							td
								a(href="https://github.com/sjacob95") sjacob95
						tr
							td
								p YouTube
							td
								a(href="https://www.youtube.com/channel/UCWm_5zZNzHPQYbWctVjoAHw") Jacob Stenzel
						tr
							td
								p Email
							td
								a(href="mailto:sjacob95@vt.edu?Subject=Let's%20Talk...") sjacob95@vt.edu