div.login-rack
	a(ui-sref="login",ng-if="true")
		span.glyphicon.glyphicon-log-in(aria-hidden="true")
	a(ui-sref="modify",ng-if="true")
		span.glyphicon.glyphicon-wrench(aria-hidden="true")
	a(ng-if="true")
		span.glyphicon.glyphicon-log-out(aria-hidden="true")