div.logo.col-xs-12.hidden-xs(ng-class="{'welcome_position': $state.includes('welcome')}")
	ul
		li
			a(ui-sref="general-landing") Jacob Stenzel
		li
			a(ui-sref="programmer-landing") Programmer
		li
			a(ui-sref="composer-landing") Composer

div.logo.col-xs-12.visible-xs(ng-class="{'welcome_position': $state.includes('welcome')}")
	table
		tr
			td
				a(ui-sref="welcome") Jacob Stenzel
			td
				span.separator
			td
				ul
					li
						a(ui-sref="programmer-landing") Programmer
					li
						a(ui-sref="composer-landing") Composer