div.logo.col-xs-12(ng-class="{'welcome_position': $state.includes('welcome')}")
	ul
		li
			a(ui-sref="welcome") Jacob Stenzel
		li
			a(ui-sref="view1") Programmer
		li
			a(ui-sref="composer-landing") Composer