div.container-fluid.content-box(ng-show="$state.is('music.piece')")
	div.col-md-offset-2.col-md-8
		div.column-spacer(bind-to-height="['height','#piece-panel']")
		div#piece-panel.fall-panel(ng-show="$state.is('music.piece')")
			div.content-panel-1
				h1 {{ musicCtrl.activePiece.name }}
				hr.header-hr
				div(ng-if="musicCtrl.activePiece !== '' && musicCtrl.activePiece.video !== undefined")
					div.piece-video-wrapper
						div.video-wrapper
							iframe(ng-src="{{ getSanitizedVideoURL(musicCtrl.activePiece) }}" frameborder="0" allowfullscreen)
					hr
				div.clearfix
				p(ng-repeat="paragraph in breakByNewLine(musicCtrl.activePiece.content)") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}