div.container-fluid.content-box-projects(ng-show="$state.is('projects')")
	div.col-xs-12
		h1 Projects
	div.row
		div.col-sm-offset-4.col-sm-4
			div.input-group
				span.input-group-addon(id="basic-addon1") 
					span.glyphicon.glyphicon-search(aria-hidden="true")
				input.form-control(type="text",placeholder="Search",aria-describedby="basic-addon1",ng-model="projectSearchParam")
	div.col-sm-4.project-box-wrapper-1(ng-repeat="projectItem in projectsCtrl.projectItems | filter:{name: projectSearchParam}")
		div.project-box-wrapper-2
			div.project-box-wrapper-3
				a.project-box-link(ui-sref="projects.project({project: projectItem.sref})")
					div.project-box(style='background-image: url({{ "images/" + projectItem.placecard }});')
						h2 {{ projectItem.name }}
