div.container-fluid.content-box-subtle(ng-show="$state.is('projects.project')")
	div.col-md-offset-2.col-md-8
		div.column-spacer(bind-to-height="['height','#piece-panel']")
		div#project-panel.fall-panel(ng-show="$state.is('projects.project')")
			div.content-panel-1
				h1 {{ projectsCtrl.activeProject.name }}
				hr.header-hr
				div(ng-if="projectsCtrl.activeProject !== '' && projectsCtrl.activeProject.video !== undefined")
					div.piece-video-wrapper
							div.video-wrapper
								iframe(ng-src="{{ getSanitizedVideoURL(projectsCtrl.activeProject) }}" frameborder="0" allowfullscreen)
					hr
				div.thumb-left(ng-if="projectsCtrl.activeProject == '' || projectsCtrl.activeProject.video == undefined")
					img(ng-src="../../images/{{projectsCtrl.activeProject['placecard']}}",height="150px")
				p(ng-repeat="paragraph in breakByNewLine(projectsCtrl.activeProject.content)") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
				div.clearfix