@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Caption");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 125%;
  font-family: 'Open Sans', sans-serif;
}
p {
  margin: 0 0 10px;
}
.site-background {
  position: fixed;
  background-image: url("images/cube1-960x543.JPG");
  background-size: cover;
  height: -moz-calc(100vh + 10px);
  height: -webkit-calc(100vh + 10px);
  height: -o-calc(100vh + 10px);
  height: calc(100vh + 10px);
  width: -moz-calc(100vw + 20px);
  width: -webkit-calc(100vw + 20px);
  width: -o-calc(100vw + 20px);
  width: calc(100vw + 20px);
  margin-top: -5px;
  margin-right: -10px;
  margin-bottom: -5px;
  margin-left: -10px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.site-background-frame {
  overflow: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.site-foreground {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.logo {
  line-height: 150%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #608de6;
  position: fixed;
  top: 0px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 11;
}
.logo.welcome_position {
  top: 160px;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .logo {
    font-size: 30px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .logo {
    font-size: 40px;
    padding-left: 10px;
  }
}
.logo ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.logo ul a {
  color: #83a6ec;
  text-decoration: none;
}
.logo ul a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo ul a:active {
  text-decoration: underline;
}
.logo ul > li {
  display: inline;
}
.logo ul > li:before {
  content: " | ";
}
.logo ul > li:nth-child(1) a {
  color: #608de6;
  text-decoration: none;
}
.logo ul > li:nth-child(1) a:hover {
  color: #608de6;
  text-decoration: underline;
}
.logo ul > li:nth-child(1) a:active {
  text-decoration: underline;
}
.logo ul > li:nth-child(1):before {
  content: "";
}
.logo table {
  height: 40px;
}
.logo table tr td span.separator:after {
  content: "|";
  font-size: 50px;
  font-weight: 300;
  margin-left: 3.625px;
}
.logo table tr td a {
  color: #608de6;
  text-decoration: none;
}
.logo table tr td a:hover {
  color: #608de6;
  text-decoration: underline;
}
.logo table tr td a:active {
  text-decoration: underline;
}
.logo table tr td ul {
  list-style: none;
  margin-left: 5px;
  font-size: 20px;
  line-height: 137.5%;
}
.logo table tr td ul li {
  display: block;
}
.logo table tr td ul li:before {
  content: "";
}
.logo table tr td ul li a {
  color: #83a6ec;
  text-decoration: none;
}
.logo table tr td ul li a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo table tr td ul li a:active {
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1) a {
  color: #83a6ec;
  text-decoration: none;
}
.logo table tr td ul li:nth-child(1) a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1) a:active {
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1):before {
  content: "";
}
.logo-area-mask {
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: 6;
  position: fixed;
}
.logo-area-mask .logo-area-mask-image {
  background-image: url("images/cube1-960x543.JPG");
  background-size: cover;
  height: -moz-calc(100vh + 10px);
  height: -webkit-calc(100vh + 10px);
  height: -o-calc(100vh + 10px);
  height: calc(100vh + 10px);
  width: -moz-calc(100vw + 20px);
  width: -webkit-calc(100vw + 20px);
  width: -o-calc(100vw + 20px);
  width: calc(100vw + 20px);
  margin-top: -5px;
  margin-right: -10px;
  margin-bottom: -5px;
  margin-left: -10px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.logo-descriptor {
  line-height: 150%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #afa7d4;
  position: fixed;
  top: 220px;
}
@media (max-width: 767px) {
  .logo-descriptor {
    font-size: 20px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .logo-descriptor {
    font-size: 30px;
    padding-left: 10px;
  }
}
.logo-descriptor.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
}
.logo-descriptor.ng-hide-remove-active {
  opacity: 1;
}
.logo-descriptor.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 1;
}
.logo-descriptor.ng-hide-add-active {
  opacity: 0;
}
.navbar {
  position: fixed;
  top: 60px;
  width: 100%;
  margin-bottom: 0;
  background-color: #180a48;
  font-family: 'PT Sans Caption';
  z-index: 10;
}
@media (min-width: 768px) {
  .navbar {
    background-image: url("http://www.transparenttextures.com/patterns/otis-redding.png");
  }
}
.navbar.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
}
.navbar.ng-hide-remove-active {
  opacity: 1;
}
.navbar.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 1;
}
.navbar.ng-hide-add-active {
  opacity: 0;
}
.content-box {
  position: absolute;
  top: 110px;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}
.content-box.ng-hide-remove {
  display: block !important;
  -webkit-transition-property: z-index;
  -moz-transition-property: z-index;
  -o-transition-property: z-index;
  transition-property: z-index;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  z-index: 5;
}
.content-box.ng-hide-remove-active {
  z-index: 5;
}
.content-box.ng-hide-add {
  display: block !important;
  -webkit-transition-property: z-index;
  -moz-transition-property: z-index;
  -o-transition-property: z-index;
  transition-property: z-index;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  z-index: 4;
}
.content-box.ng-hide-add-active {
  z-index: 4;
}
.content-panel-1 {
  background-color: #674c5c;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #4c3845 inset;
  color: #2c2027;
  padding: 15px 20px 15px 20px;
}
@media (min-width: 768px) {
  .content-panel-1 {
    background-image: url("http://www.transparenttextures.com/patterns/otis-redding.png");
  }
}
.landing-right {
  right: 0px;
}
.landing-right.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: -500px;
}
.landing-right.ng-hide-remove-active {
  right: 0px;
}
.landing-right.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: 0px;
}
.landing-right.ng-hide-add-active {
  right: -500px;
}
.wrapper-panel {
  padding: 0px 0px 0px 0px;
}
.landing-left {
  left: 0px;
}
.landing-left.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: -700px;
}
.landing-left.ng-hide-remove-active {
  left: 0px;
}
.landing-left.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0px;
}
.landing-left.ng-hide-add-active {
  left: -700px;
}
.landing-left .video-panel {
  background-color: #674c5c;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #4c3845 inset;
  padding: 10px 10px 10px 10px;
  color: #2c2027;
}
@media (min-width: 768px) {
  .landing-left .video-panel {
    background-image: url("http://www.transparenttextures.com/patterns/otis-redding.png");
  }
}
.landing-left .video-panel .video-wrapper {
  width: 100%;
  padding-bottom: 65.25%;
  position: relative;
}
.landing-left .video-panel .video-wrapper iframe {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.landing-left .video-caption h1 {
  color: #f1f6fc;
  padding: 10px 15px 10px 15px;
  font-size: 30px;
}
