@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700");
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .logo {
    line-height: 150%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #608de6;
    padding-left: 8px;
  }
}
@media (min-width: 768px) {
  .logo {
    line-height: 150%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #608de6;
    padding-left: 8px;
  }
}
.logo ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.logo ul a {
  color: #83a6ec;
  text-decoration: none;
}
.logo ul a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo ul a:active {
  text-decoration: underline;
}
.logo ul > li {
  display: inline;
}
.logo ul > li:before {
  content: " | ";
}
.logo ul > li:nth-child(1) a {
  color: #608de6;
  text-decoration: none;
}
.logo ul > li:nth-child(1) a:hover {
  color: #608de6;
  text-decoration: underline;
}
.logo ul > li:nth-child(1) a:active {
  text-decoration: underline;
}
.logo ul > li:nth-child(1):before {
  content: "";
}
.logo-descriptor {
  line-height: 150%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #afa7d4;
  padding-left: 8px;
}
html,
body {
  height: 100%;
  width: 100%;
}
.site-background {
  background-image: url("images/cube1-960x543.JPG");
  background-size: cover;
  height: -moz-calc(100% + 10px);
  height: -webkit-calc(100% + 10px);
  height: -o-calc(100% + 10px);
  height: calc(100% + 10px);
  width: -moz-calc(100% + 20px);
  width: -webkit-calc(100% + 20px);
  width: -o-calc(100% + 20px);
  width: calc(100% + 20px);
  margin-top: -5px;
  margin-right: -10px;
  margin-bottom: -5px;
  margin-left: -10px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.site-background-frame {
  overflow: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.site-foreground {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
