// Fonts
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700')
@import url('http://fonts.googleapis.com/css?family=Open+Sans')
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Caption')
@import url('http://fonts.googleapis.com/css?family=Droid+Sans')


// ----------------USEFUL CONSTANTS----------------

// Extra small screen / phone
$screen-xs = 480px
$screen-xs-max = 767px
// Small screen / tablet
$screen-sm = 768px
$screen-sm-max = 480px
// Medium screen / desktop
$screen-md = 992px
$screen-md-max = 1199px
// Large screen / wide desktop
$screen-lg = 1200px

// ----------------END USEFUL CONSTANTS----------------


// Font fix
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}

// ----------------MIXINS----------------


vendor-blur(blurAmt)
  -webkit-filter blur(blurAmt)
  -moz-filter blur(blurAmt)
  -o-filter blur(blurAmt)
  -ms-filter blur(blurAmt)
  filter blur(blurAmt)
  
vendor-transition-property(properties)
  -webkit-transition-property unquote(properties)
  -moz-transition-property unquote(properties)
  -o-transition-property unquote(properties)
  transition-property unquote(properties)

vendor-transition-duration(duration)
  -webkit-transition-duration duration
  -moz-transition-duration duration
  -o-transition-duration duration
  transition-duration duration

vendor-transition-timing-function(t-function)
  -webkit-transition-timing t-function
  -moz-transition-timing t-function
  -o-transition-timing t-function
  transition-timing t-function

vendor-transition-delay(delay)
  -webkit-transition-delay delay;
  -moz-transition-delay delay;
  -o-transition-delay delay;
  transition-delay delay;
  

// ----------------END MIXINS----------------


// ----------------RULES------------------

.clearfix
  overflow visible

html, body
  height 100%
  width 100%
  font-size 14px
  line-height 125%
  font-family 'Open Sans', sans-serif
  overflow-y scroll
  
p
  margin 0 0 10px
  
hr
  display block
  margin-top 15px
  margin-bottom 10px
  margin-left auto
  margin-right auto
  border-width 1px
  border-radius 2px
  clear both
  
// Begin background stuff

.site-background
  position fixed
  background-image url('images/cube-20.JPG')
  background-size cover
  height -moz-calc(100vh + 10px);
  height -webkit-calc(100vh + 10px);
  height -o-calc(100vh + 10px);
  height calc(100vh + 10px);
  width -moz-calc(100vw + 20px);
  width -webkit-calc(100vw + 20px);
  width -o-calc(100vw + 20px);
  width calc(100vw + 20px);
  margin-top -5px
  margin-right -10px
  margin-bottom -5px
  margin-left -10px
  vendor-blur(5px)
  
  
.site-background-frame
  overflow hidden
  z-index 1
  height 100%
  width 100%

.site-foreground
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  z-index 2
  
// End background stuff

// Begin logo

.logo
  line-height 150%
  font-family 'Josefin Sans', sans-serif
  font-weight 400
  color #608de6
  position fixed
  top 0px
  vendor-transition-property("top")
  vendor-transition-timing-function(ease-in-out)
  vendor-transition-duration(0.4s)
  vendor-transition-delay(0s)
  z-index 21
  
  &.welcome_position
    top 160px
    vendor-transition-delay(0.2s)
    
  @media (max-width: $screen-xs-max)
    font-size 30px
    padding-left 10px
  @media (min-width: $screen-sm)
    font-size 40px
    padding-left 10px
     

  ul
    list-style none
    margin 0px
    padding 0px
    
    a
      color #83a6ec
      text-decoration none
      &:hover
        color #A4BEF1
        text-decoration underline
      &:active
        text-decoration underline

    & > li 
      display inline

      &:before 
        content " | "

      &:nth-child(1)
        a
          color #608de6
          text-decoration none
          &:hover
            color #608de6
            text-decoration underline
          &:active
            text-decoration underline

        &:before
          content ""

  table
    height 40px
    tr
      td
                
        span.separator:after
          content "|"
          font-size 50px
          font-weight 300
          margin-left 3.625px

        a
          color #608de6
          text-decoration none
          &:hover
            color #608de6
            text-decoration underline
          &:active
            text-decoration underline
        
        ul
          list-style none
          margin-left 5px
          font-size 20px
          line-height 137.5%
          
          li
            display block
            
            &:before 
              content ""

            a
              color #83a6ec
              text-decoration none
              &:hover
                color #A4BEF1
                text-decoration underline
              &:active
                text-decoration underline
                
            &:nth-child(1)
              a
                color #83a6ec
                text-decoration none
                &:hover
                  color #A4BEF1
                  text-decoration underline
                &:active
                  text-decoration underline

              &:before
                content ""

.logo-area-mask
  height 60px
  width 100%
  overflow hidden
  z-index 17
  position fixed
  .logo-area-mask-image
    background-image url('images/cube-20.JPG')
    background-size cover
    height -moz-calc(100vh + 10px);
    height -webkit-calc(100vh + 10px);
    height -o-calc(100vh + 10px);
    height calc(100vh + 10px);
    width -moz-calc(100vw + 20px);
    width -webkit-calc(100vw + 20px);
    width -o-calc(100vw + 20px);
    width calc(100vw + 20px);
    margin-top -5px
    margin-right -10px
    margin-bottom -5px
    margin-left -10px
    vendor-blur(5px)

// End logo

// Begin logo descriptor

.logo-descriptor
  line-height 150%
  font-family 'Josefin Sans', sans-serif
  font-weight 600
  font-size 30px
  color #afa7d4
  position fixed
  top 220px
  @media (max-width: $screen-xs-max)
    font-size 20px
    padding-left 10px
  @media (min-width: $screen-sm)
    font-size 30px
    padding-left 10px

  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.3s)
    opacity 0
    
  &.ng-hide-remove-active
    opacity 1

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 1
    
  &.ng-hide-add-active
    opacity 0
    
// End logo descriptor

// Begin navbar

.navbar-inverse
  position fixed
  top 60px
  width 100%
  margin-bottom 0
  background-color #180a48
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  font-family 'PT Sans Caption'
  z-index 20
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 0
  
  &.ng-hide-remove-active
    opacity 1

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 1
      
  &.ng-hide-add-active
    opacity 0
    
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
  background-image: none
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.5);
  box-shadow: inset 0 3px 9px rgba(0,0,0,0.5);
  background-color #180a48
    
// Begin content box style

.content-box
  $content-box-top = 112px
  position absolute
  top 110px
  Width 100%
  padding 20px 20px 0px 20px
  overflow-x hidden
  
  &.ng-hide-remove
    display block !important
    vendor-transition-property("none")
    vendor-transition-duration(0.8s)
    z-index 6
    
  &.ng-hide-remove-active
    z-index 6

  &.ng-hide-add
    display block !important
    vendor-transition-property("none")
    vendor-transition-duration(0.4s)
    z-index 5
    
  &.ng-hide-add-active
    z-index 5
    
.content-box-subtle
  $content-box-top = 112px
  position absolute
  top 110px
  width 100%
  padding 20px 20px 0px 20px
  overflow-x hidden
  
  &.ng-hide-remove
    display block !important
    vendor-transition-property("none")
    vendor-transition-duration(0.8s)
    z-index 3
    
  &.ng-hide-remove-active
    z-index 3

  &.ng-hide-add
    display block !important
    vendor-transition-property("none")
    vendor-transition-duration(0.4s)
    z-index 4
    
  &.ng-hide-add-active
    z-index 4
    
// End content box style

// Begin misc div styling

.content-panel-1
  background-color #674c5c
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  border-radius 15px
  box-shadow 1px 1px 1px 1px #4c3845 inset
  color #2c2027
  padding 15px 20px 15px 20px
  
  hr
    border-color: #333333
    
.content-panel-2
  background-color #f1f6fc
  border-radius 15px
  box-shadow 1px 1px 1px 1px #A4BEF1 inset
  color #83a6ec
  padding 15px 20px 15px 20px
  
  hr
    border-color: #333333
    
.content-panel-admin
  background-color #37179D
  border-radius 15px
  box-shadow 1px 1px 1px 1px #A4BEF1 inset
  color #83a6ec
  padding 15px 20px 15px 20px
  
    
.about-panel
  background-color #e4f2cf
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  border-radius 15px
  box-shadow 1px 1px 1px 1px #cde4ae inset
  color #8b998a
  padding 15px 20px 15px 20px

  hr
    border-color: #333333
    
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity, transform")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    opacity 0
    transform scale(0.5)
    
  &.ng-hide-remove-active
    opacity 1
    transform scale(1)

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity, transform")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    opacity 1
    transform scale(1)
    
  &.ng-hide-add-active
    opacity 0
    transform scale(0.5)
    
.connect-panel
  background-color #e4f2cf
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  border-radius 15px
  box-shadow 1px 1px 1px 1px #cde4ae inset
  color #8b998a
  padding 15px 20px 15px 20px

  hr
    border-color: #333333
    
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity, transform")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    opacity 0
    transform scale(0.5)
    
  &.ng-hide-remove-active
    opacity 1
    transform scale(1)

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity, transform")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    opacity 1
    transform scale(1)
    
  &.ng-hide-add-active
    opacity 0
    transform scale(0.5)
  

.landing-right
  right 0px   
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right -75%
    
  &.ng-hide-remove-active
    right 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right 0%
    
  &.ng-hide-add-active
    right -75%
  
.wrapper-panel
  padding 0px 0px 0px 0px

.landing-left
  left 0px
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left -75%
    
  &.ng-hide-remove-active
    left 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left 0%
    
  &.ng-hide-add-active
    left -75%
  
  .video-panel
    background-color #674c5c
    @media (min-width: $screen-sm)
      background-image url(http://www.transparenttextures.com/patterns/otis-redding.png)
    border-radius 15px
    box-shadow 1px 1px 1px 1px #4c3845 inset
    padding 10px 10px 10px 10px
    color #2c2027
    
    .video-wrapper
      width 100%
      padding-bottom 65.25%
      position relative
      
      iframe
        background-color #000
        position absolute
        top: 0; bottom: 0; 
        width 100%
        height 100%
    
  .video-caption
    h1
      color #f1f6fc
      padding 5px 15px 10px 15px
      font-size 30px
      margin-top 0px
      margin-bottom 0px
    
// End misc div styling
    
// Begin image styling

.thumb
  img
    border-radius 5px


.thumb-left
  @extend .thumb
  float left
  margin 0px 5px 0px 0px
  
  img
    @extend .thumb img

.thumb-right
  @extend .thumb
  float right
  margin 0px 0px 0px 5px

  
  img
    @extend .thumb img

// End image styling

// Begin projects styling

.content-box-projects
  @extend .content-box-subtle
  padding-bottom 20px
  h1
    text-align center
    color #A4BEF1
    font-family 'Josefin Sans', sans-serif
    font-weight 400
    font-size 50px
    color #afa7d4
    margin-top 0px
    line-height 100%
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    opacity 0
    
  &.ng-hide-remove-active
    opacity 1

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 1
    
  &.ng-hide-add-active
    opacity 0
    
  .input-group
    margin-bottom 20px
  
.project-box-wrapper-1
  
  margin-right 0
  
  &.ng-enter, &.ng-leave
    vendor-transition-delay(0s)
    vendor-transition-property("all")
    vendor-transition-timing-function(ease-out)
    vendor-transition-duration(0.6s)
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap; 
   
  &.ng-leave.ng-leave-active, &.ng-enter
    opacity 0
    margin-right -33.33333333%
   
  &.ng-enter.ng-enter-active, &.ng-leave
    opacity 1
    margin-right 0


.project-box-wrapper-2
  padding 10px
    
.piece-box-wrapper-3
  position relative
  width 100%
  padding-bottom 25%
  
.project-box-wrapper-3
  position relative
  width 100%
  padding-bottom 65.25%

.project-box
  background-size cover
  border-radius 10px
  position absolute
  top: 0; bottom: 0; 
  width 100%
  height 100%
  z-index 8
  h2
    color #f1f6fc
    position absolute
    bottom 0px
    left 0px
    margin 10px
    text-shadow -2px 1px 3px #000000
    
.piece-box
  background-size cover
  border-radius 10px
  position absolute
  top: 0; bottom: 0; 
  width 100%
  height 100%
  z-index 8

.project-box-link      
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 10
  vendor-transition-delay(0s)
  vendor-transition-property("transform")
  vendor-transition-timing-function(ease-out)
  vendor-transition-duration(0.2s)
  transform scale(1)
  &:hover
    transform scale(1.1)
    
.piece-box-link
  @extend .project-box-link
  line-height 100%
  text-align: center
  &:hover
    @extend .project-box-link:hover

// End projects styling

// Begin blog styling

.blog-logo
  position absolute
  width 100%
  @extend .content-panel-2
  h1
    font-family 'Josefin Sans'
    font-size 40px
    font-weight 400
    color #608de6
    margin 0px
    
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("top")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    top -200%
    
  &.ng-hide-remove-active
    top 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("top")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    top 0%
    
  &.ng-hide-add-active
    top -200%
    
    
.blog-logo-placeholder
  position relative
  width 100%
  @extend .content-panel-2
  opacity 0
  h1
    @extend .blog-logo h1
    
.blog-left
  position relative
  width 100%
  @extend .content-panel-2
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left -200%
    
  &.ng-hide-remove-active
    left 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left 0%
    
  &.ng-hide-add-active
    left -200%
  
.blog-right
  @extend .content-panel-2
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right -100%
    
  &.ng-hide-remove-active
    right 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right 0%
    
  &.ng-hide-add-active
    right -100%
    
.blog-logo-wrapper
  position relative
  width 100%  
  
.blog-left-wrapper
  position relative
  width 100%
  
.blog-main
  h1
    font-family 'Open Sans'
    font-size 37.5px
    font-weight 400
    color #37179D
    margin 0px
  h2
    font-family 'Open Sans'
    font-size 30px
    font-weight 400
    color #608de6
    margin 5px 0px 15px 0px
  h3
    font-family 'Open Sans'
    font-size 15px
    font-weight 400
    color #608de6
    margin 0px
  h4
    font-family 'Open Sans'
    font-size 12.5px
    font-weight 400
    color #608de6
    margin 0px
  hr
    border-color #37179D
    margin 10px 0px 10px 0px
    &.header-hr
      border-width 2px
      
  table.blog-entry-header
    width 100%
    tr
      td:nth-child(2)
        text-align right
        
.year-set
  margin-bottom 5px
  .glyphicon
    margin-right 2.5px
  .year-selector
    margin-bottom 5px
    cursor pointer
  .month-selector
    margin-bottom 5px
    margin-left 10px
    cursor pointer
      
// End blog styling

// Begin login styling

.login-rack
  position fixed
  right 0
  z-index 21
  padding-right 10px
  line-height 60px
  font-size 30px
  .glyphicon
    padding-left 10px
  a
    color #83a6ec
    text-decoration none
    &:hover
      color #A4BEF1
      text-decoration underline
    &:active
      text-decoration underline
      
.login
  position absolute
  text-align center
  width 100%
  h1
    margin-top 0px
    text-align center
  .input-group
    width 100%
    margin 5px
  .btn-group
    margin 5px
    
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("top")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    top -200%
    
  &.ng-hide-remove-active
    top 0%

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("top")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    top 0%
    
  &.ng-hide-add-active
    top -200%
    
.login-wrapper
  position relative
  height 201px

// End login styling

//----------------END RULES-----------------