// Fonts
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700')

// Some common bootstrap definitions

// Extra small screen / phone
$screen-xs = 480px
$screen-xs-max = 767px
// Small screen / tablet
$screen-sm = 768px
$screen-sm-max = 480px
// Medium screen / desktop
$screen-md = 992px
$screen-md-max = 1199px
// Large screen / wide desktop
$screen-lg = 1200px

// Font fix
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}


// Real stuff begins here


.logo
  @media (max-width: $screen-xs-max)
    line-height 150%
    font-family 'Josefin Sans', sans-serif
    font-weight 600
    font-size 32px
    color #608de6
    padding-left 8px
  @media (min-width: $screen-sm)
    line-height 150%
    font-family 'Josefin Sans', sans-serif
    font-weight 600
    font-size 40px
    color #608de6
    padding-left 8px

  ul
    list-style none
    margin 0px
    padding 0px
    
    a
      color #83a6ec
      text-decoration none
      &:hover
        color #A4BEF1
        text-decoration underline
      &:active
        text-decoration underline

    & > li 
      display inline


      &:before 
        content " | "

      &:nth-child(1)
        a
          color #608de6
          text-decoration none
          &:hover
            color #608de6
            text-decoration underline
          &:active
            text-decoration underline

        &:before
          content ""
  
.logo-descriptor
  line-height 150%
  font-family 'Josefin Sans', sans-serif
  font-weight 600
  font-size 32px
  color #afa7d4
  padding-left 8px

vendor-blur(blurAmt)
  -webkit-filter blur(blurAmt)
  -moz-filter blur(blurAmt)
  -o-filter blur(blurAmt)
  -ms-filter blur(blurAmt)
  filter blur(blurAmt)
  
vendor-offset-blur(blurAmt, elemSize)
  vendor-blur(blurAmt)
  position absolute
  left -moz-calc(0 - blurAmt);
  left s('-webkit-calc(0px - %s)', blurAmt);
  left -o-calc(0 - blurAmt);
  left calc(0 - blurAmt);
  top -moz-calc(0 - blurAmt);
  top s('-webkit-calc(0px - %s)', blurAmt);  top -o-calc(0 - blurAmt);
  top -o-calc(0 - blurAmt);
  top calc(0 - blurAmt);
  height -moz-calc(elemSize + 2 * blurAmt);
  height s('-webkit-calc(%s + 2 * %s)', elemSize, blurAmt);
  height -o-calc(elemSize + 2 * blurAmt);
  height calc(elemSize + 2 * blurAmt);
  width -moz-calc(elemSize + 2 * blurAmt);
  width s('-webkit-calc(%s + 2 * %s)', elemSize, blurAmt);
  width -o-calc(elemSize + 2 * blurAmt);
  width calc(elemSize + 2 * blurAmt);
  

html, body
  height 100%
  width 100%

.site-background
  background-image url('images/cube1-960x543.JPG')
  background-size cover
  height -moz-calc(100% + 10px);
  height -webkit-calc(100% + 10px);
  height -o-calc(100% + 10px);
  height calc(100% + 10px);
  width -moz-calc(100% + 20px);
  width -webkit-calc(100% + 20px);
  width -o-calc(100% + 20px);
  width calc(100% + 20px);
  margin-top -5px
  margin-right -10px
  margin-bottom -5px
  margin-left -10px
  vendor-blur(5px)
  
  
.site-background-frame
  overflow hidden
  z-index 1
  height 100%
  width 100%

.site-foreground
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  z-index 2