// Fonts
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700')
@import url('http://fonts.googleapis.com/css?family=Open+Sans')
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Caption')
@import url('http://fonts.googleapis.com/css?family=Droid+Sans')


// ----------------USEFUL CONSTANTS----------------

// Extra small screen / phone
$screen-xs = 480px
$screen-xs-max = 767px
// Small screen / tablet
$screen-sm = 768px
$screen-sm-max = 480px
// Medium screen / desktop
$screen-md = 992px
$screen-md-max = 1199px
// Large screen / wide desktop
$screen-lg = 1200px

// ----------------END USEFUL CONSTANTS----------------


// Font fix
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}

// ----------------MIXINS----------------


vendor-blur(blurAmt)
  -webkit-filter blur(blurAmt)
  -moz-filter blur(blurAmt)
  -o-filter blur(blurAmt)
  -ms-filter blur(blurAmt)
  filter blur(blurAmt)
  
vendor-transition-property(properties)
  -webkit-transition-property unquote(properties)
  -moz-transition-property unquote(properties)
  -o-transition-property unquote(properties)
  transition-property unquote(properties)

vendor-transition-duration(duration)
  -webkit-transition-duration duration
  -moz-transition-duration duration
  -o-transition-duration duration
  transition-duration duration

vendor-transition-timing-function(t-function)
  -webkit-transition-timing t-function
  -moz-transition-timing t-function
  -o-transition-timing t-function
  transition-timing t-function

vendor-transition-delay(delay)
  -webkit-transition-delay delay;
  -moz-transition-delay delay;
  -o-transition-delay delay;
  transition-delay delay;

// ----------------END MIXINS----------------


// ----------------RULES------------------

html, body
  height 100%
  width 100%
  font-size 15px
  line-height 125%
  font-family 'Open Sans', sans-serif
  
p
  margin 0 0 10px
  
// Begin background stuff

.site-background
  position fixed
  background-image url('images/cube1-960x543.JPG')
  background-size cover
  height -moz-calc(100vh + 10px);
  height -webkit-calc(100vh + 10px);
  height -o-calc(100vh + 10px);
  height calc(100vh + 10px);
  width -moz-calc(100vw + 20px);
  width -webkit-calc(100vw + 20px);
  width -o-calc(100vw + 20px);
  width calc(100vw + 20px);
  margin-top -5px
  margin-right -10px
  margin-bottom -5px
  margin-left -10px
  vendor-blur(5px)
  
  
.site-background-frame
  overflow hidden
  z-index 1
  height 100%
  width 100%

.site-foreground
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  z-index 2
  
// End background stuff

// Begin logo

.logo
  line-height 150%
  font-family 'Josefin Sans', sans-serif
  font-weight 400
  color #608de6
  position fixed
  top 0px
  vendor-transition-property("top")
  vendor-transition-timing-function(ease-in-out)
  vendor-transition-duration(0.4s)
  vendor-transition-delay(0s)
  z-index 11
  
  &.welcome_position
    top 160px
    vendor-transition-delay(0.2s)
    
  @media (max-width: $screen-xs-max)
    font-size 30px
    padding-left 10px
  @media (min-width: $screen-sm)
    font-size 40px
    padding-left 10px
     

  ul
    list-style none
    margin 0px
    padding 0px
    
    a
      color #83a6ec
      text-decoration none
      &:hover
        color #A4BEF1
        text-decoration underline
      &:active
        text-decoration underline

    & > li 
      display inline

      &:before 
        content " | "

      &:nth-child(1)
        a
          color #608de6
          text-decoration none
          &:hover
            color #608de6
            text-decoration underline
          &:active
            text-decoration underline

        &:before
          content ""

  table
    height 40px
    tr
      td
                
        span.separator:after
          content "|"
          font-size 50px
          font-weight 300
          margin-left 3.625px

        a
          color #608de6
          text-decoration none
          &:hover
            color #608de6
            text-decoration underline
          &:active
            text-decoration underline
        
        ul
          list-style none
          margin-left 5px
          font-size 20px
          line-height 137.5%
          
          li
            display block
            
            &:before 
              content ""

            a
              color #83a6ec
              text-decoration none
              &:hover
                color #A4BEF1
                text-decoration underline
              &:active
                text-decoration underline
                
            &:nth-child(1)
              a
                color #83a6ec
                text-decoration none
                &:hover
                  color #A4BEF1
                  text-decoration underline
                &:active
                  text-decoration underline

              &:before
                content ""

.logo-area-mask
  height 60px
  width 100%
  overflow hidden
  z-index 6
  position fixed
  .logo-area-mask-image
    background-image url('images/cube1-960x543.JPG')
    background-size cover
    height -moz-calc(100vh + 10px);
    height -webkit-calc(100vh + 10px);
    height -o-calc(100vh + 10px);
    height calc(100vh + 10px);
    width -moz-calc(100vw + 20px);
    width -webkit-calc(100vw + 20px);
    width -o-calc(100vw + 20px);
    width calc(100vw + 20px);
    margin-top -5px
    margin-right -10px
    margin-bottom -5px
    margin-left -10px
    vendor-blur(5px)

    
  
// End logo

// Begin logo descriptor

.logo-descriptor
  line-height 150%
  font-family 'Josefin Sans', sans-serif
  font-weight 600
  font-size 30px
  color #afa7d4
  position fixed
  top 220px
  @media (max-width: $screen-xs-max)
    font-size 20px
    padding-left 10px
  @media (min-width: $screen-sm)
    font-size 30px
    padding-left 10px

  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.3s)
    opacity 0
    
  &.ng-hide-remove-active
    opacity 1

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 1
    
  &.ng-hide-add-active
    opacity 0
    
// End logo descriptor

// Begin navbar

.navbar
  position fixed
  top 60px
  width 100%
  margin-bottom 0
  background-color #180a48
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  font-family 'PT Sans Caption'
  z-index 10
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 0
  
  &.ng-hide-remove-active
    opacity 1

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("opacity")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.2s)
    opacity 1
      
  &.ng-hide-add-active
    opacity 0
    
// Begin landing page stuff

.content-box
  $content-box-top = 112px
  position absolute
  top 110px
  //height "-o-calc(100% - %s)" % $content-box-top
  //height "-webkit-calc(100% - %s)" % $content-box-top
  //height "calc(100% - %s)" % $content-box-top
  width 100%
  padding 20px
  overflow-x hidden   
  
  &.ng-hide-remove
    display block !important
    vendor-transition-property("z-index")
    vendor-transition-duration(0.8s)
    z-index 5
    
  &.ng-hide-remove-active
    z-index 5

  &.ng-hide-add
    display block !important
    vendor-transition-property("z-index")
    vendor-transition-duration(0.4s)
    z-index 4
    
  &.ng-hide-add-active
    z-index 4

.content-panel-1
  background-color #674c5c
  @media (min-width: $screen-sm)
    background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png)
  border-radius 15px
  box-shadow 1px 1px 1px 1px #4c3845 inset
  color #2c2027
  padding 15px 20px 15px 20px   
  

.landing-right
  //position absolute
  right 0px   
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right -500px
    
  &.ng-hide-remove-active
    right 0px

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("right")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    right 0px
    
  &.ng-hide-add-active
    right -500px
  
.wrapper-panel
  padding 0px 0px 0px 0px
  

.landing-left
  //position absolute
  left 0px
  
  &.ng-hide-remove
    display block !important
    vendor-transition-delay(0.4s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left -700px
    
  &.ng-hide-remove-active
    left 0px

  &.ng-hide-add
    display block !important
    vendor-transition-delay(0s)
    vendor-transition-property("left")
    vendor-transition-timing-function(ease-in-out)
    vendor-transition-duration(0.4s)
    left 0px
    
  &.ng-hide-add-active
    left -700px
  
  .video-panel
    background-color #674c5c
    @media (min-width: $screen-sm)
      background-image url(http://www.transparenttextures.com/patterns/otis-redding.png)
    border-radius 15px
    box-shadow 1px 1px 1px 1px #4c3845 inset
    padding 10px 10px 10px 10px
    color #2c2027
    
    .video-wrapper
      width 100%
      padding-bottom 65.25%
      position relative
      
      iframe
        background-color #000
        position absolute
        top: 0; bottom: 0; 
        width 100%
        height 100%
    
  .video-caption
    h1
      color #f1f6fc
      padding 10px 15px 10px 15px
      font-size 30px

    
// End landing page stuff
    
//----------------END RULES-----------------