@import url("https://fonts.googleapis.com/css?family=Questrial");
@font-face {
  font-family: "Trajan Pro Regular";
  src: url("fonts/Trajan Pro Regular.ttf");
}
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.clearfix {
  overflow: visible;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.25;
  font-family: "Questrial", sans-serif;
  overflow-y: scroll;
}
p {
  margin: 0 0 10px;
}
h1 {
  margin-top: 0px;
}
h2 {
  margin-top: 0px;
}
hr {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-radius: 2px;
  clear: both;
}
.site-background {
  position: fixed;
  background-image: url("images/cube-20.JPG");
  background-size: cover;
  height: -moz-calc(100vh + 10px);
  height: -webkit-calc(100vh + 10px);
  height: -o-calc(100vh + 10px);
  height: calc(100vh + 10px);
  width: -moz-calc(100vw + 20px);
  width: -webkit-calc(100vw + 20px);
  width: -o-calc(100vw + 20px);
  width: calc(100vw + 20px);
  margin-top: -5px;
  margin-right: -10px;
  margin-bottom: -5px;
  margin-left: -10px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.site-background-frame {
  overflow: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.site-foreground {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.logo {
  line-height: 150%;
  font-family: 'Trajan Pro Regular', sans-serif;
  font-weight: 400;
  color: #608de6;
  position: fixed;
  top: 0px;
  padding-left: 15px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 21;
}
.logo.welcome_position {
  top: 160px;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .logo {
    font-size: 17.5px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .logo {
    font-size: 40px;
  }
}
.logo ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.logo ul a {
  color: #83a6ec;
  text-decoration: none;
}
.logo ul a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo ul a:active {
  text-decoration: underline;
}
.logo ul > li {
  display: inline;
}
.logo ul > li:before {
  content: " | ";
}
.logo ul > li:nth-child(1) a {
  color: #608de6;
  text-decoration: none;
}
.logo ul > li:nth-child(1) a:hover {
  color: #608de6;
  text-decoration: underline;
}
.logo ul > li:nth-child(1) a:active {
  text-decoration: underline;
}
.logo ul > li:nth-child(1):before {
  content: "";
}
.logo table {
  height: 40px;
}
.logo table tr td span.separator:after {
  content: "|";
  font-size: 50px;
  font-weight: 300;
  margin-left: 3.625px;
}
.logo table tr td a {
  color: #608de6;
  text-decoration: none;
}
.logo table tr td a:hover {
  color: #608de6;
  text-decoration: underline;
}
.logo table tr td a:active {
  text-decoration: underline;
}
.logo table tr td ul {
  list-style: none;
  margin-left: 5px;
  line-height: 137.5%;
}
@media (max-width: 767px) {
  .logo table tr td ul {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .logo table tr td ul {
    font-size: 20px;
  }
}
.logo table tr td ul li {
  display: block;
}
.logo table tr td ul li:before {
  content: "";
}
.logo table tr td ul li a {
  color: #83a6ec;
  text-decoration: none;
}
.logo table tr td ul li a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo table tr td ul li a:active {
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1) a {
  color: #83a6ec;
  text-decoration: none;
}
.logo table tr td ul li:nth-child(1) a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1) a:active {
  text-decoration: underline;
}
.logo table tr td ul li:nth-child(1):before {
  content: "";
}
.logo-area-mask {
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: 17;
  position: fixed;
}
.logo-area-mask .logo-area-mask-image {
  background-image: url("images/cube-20.JPG");
  background-size: cover;
  height: -moz-calc(100vh + 10px);
  height: -webkit-calc(100vh + 10px);
  height: -o-calc(100vh + 10px);
  height: calc(100vh + 10px);
  width: -moz-calc(100vw + 20px);
  width: -webkit-calc(100vw + 20px);
  width: -o-calc(100vw + 20px);
  width: calc(100vw + 20px);
  margin-top: -5px;
  margin-right: -10px;
  margin-bottom: -5px;
  margin-left: -10px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.logo-descriptor {
  line-height: 150%;
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #afa7d4;
  position: fixed;
  top: 220px;
}
@media (max-width: 991px) {
  .logo-descriptor {
    font-size: 20px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .logo-descriptor {
    font-size: 30px;
    padding-left: 15px;
  }
}
.logo-descriptor.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
}
.logo-descriptor.ng-hide-remove-active {
  opacity: 1;
}
.logo-descriptor.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 1;
}
.logo-descriptor.ng-hide-add-active {
  opacity: 0;
}
.navbar-inverse {
  position: fixed;
  top: 60px;
  width: 100%;
  margin-bottom: 0;
  background-color: #180a48;
  background-image: none;
  font-family: "Questrial";
  z-index: 20;
}
.navbar-inverse.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
}
.navbar-inverse.ng-hide-remove-active {
  opacity: 1;
}
.navbar-inverse.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 1;
}
.navbar-inverse.ng-hide-add-active {
  opacity: 0;
}
.navbar-inverse .navbar-nav>li>a {
  color: #a4bef1;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: inset 0 3px 9px rgba(0,0,0,0.5);
  background-color: #180a48;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #83a6ec;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  border-color: #83a6ec;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  margin-left: 0px;
}
#landingCarousel {
  position: absolute;
}
.content-box {
  position: absolute;
  top: 110px;
  Width: 100%;
  padding: 20px 20px 0px 20px;
  overflow: visible;
}
.content-box.ng-hide-remove {
  display: block !important;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  z-index: 6;
}
.content-box.ng-hide-remove-active {
  z-index: 6;
}
.content-box.ng-hide-add {
  display: block !important;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  z-index: 5;
}
.content-box.ng-hide-add-active {
  z-index: 5;
}
.content-box-subtle,
.content-box-projects {
  position: absolute;
  top: 110px;
  width: 100%;
  padding: 20px 20px 0px 20px;
  overflow: visible;
}
.content-box-subtle.ng-hide-remove,
.content-box-projects.ng-hide-remove {
  display: block !important;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  z-index: 3;
}
.content-box-subtle.ng-hide-remove-active,
.content-box-projects.ng-hide-remove-active {
  z-index: 3;
}
.content-box-subtle.ng-hide-add,
.content-box-projects.ng-hide-add {
  display: block !important;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  z-index: 4;
}
.content-box-subtle.ng-hide-add-active,
.content-box-projects.ng-hide-add-active {
  z-index: 4;
}
.content-panel-1 {
  background-color: #83a6ec;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #608de6 inset;
  color: #f1f6fc;
  padding: 15px 20px 15px 20px;
  margin: 10px;
}
.content-panel-1 hr {
  border-color: #37179d;
  margin: 10px 0px 10px 0px;
}
.content-panel-1 hr.header-hr {
  border-width: 2px;
}
.content-panel-2 {
  background-color: #f1f6fc;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #a4bef1 inset;
  color: #83a6ec;
  padding: 15px 20px 15px 20px;
  margin: 10px;
}
.content-panel-2 hr {
  border-color: #37179d;
  margin: 10px 0px 10px 0px;
}
.content-panel-2 hr.header-hr {
  border-width: 2px;
}
.pop-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
.pop-panel.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0;
  transform: scale(0.5);
}
.pop-panel.ng-hide-remove-active {
  opacity: 1;
  transform: scale(1);
}
.pop-panel.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 1;
  transform: scale(1);
}
.pop-panel.ng-hide-add-active {
  opacity: 0;
  transform: scale(0.5);
}
.fall-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
.fall-panel.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0;
  transform: scale(2);
}
.fall-panel.ng-hide-remove-active {
  opacity: 1;
  transform: scale(1);
}
.fall-panel.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 1;
  transform: scale(1);
}
.fall-panel.ng-hide-add-active {
  opacity: 0;
  transform: scale(2);
}
.landing-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
.landing-right.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: -200%;
}
.landing-right.ng-hide-remove-active {
  right: 0%;
}
.landing-right.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  right: 0%;
}
.landing-right.ng-hide-add-active {
  right: -200%;
}
.wrapper-panel {
  padding: 0px 0px 0px 0px;
}
.landing-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.landing-left.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: -200%;
}
.landing-left.ng-hide-remove-active {
  left: 0%;
}
.landing-left.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0%;
}
.landing-left.ng-hide-add-active {
  left: -200%;
}
iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
div.video-wrapper img {
  border-radius: 10px;
}
.video-wrapper {
  width: 100%;
  padding-bottom: 65.25%;
  position: relative;
}
.video-panel {
  background-color: #83a6ec;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #608de6 inset;
  padding: 10px 10px 10px 10px;
  color: #f1f6fc;
  margin: 10px;
}
.video-panel iframe {
  background-color: #000;
}
.video-caption {
  margin: 0px 10px 10px 10px;
  padding: 5px 15px 10px 15px;
}
.video-caption h1 {
  color: #f1f6fc;
  font-size: 30px;
  margin: 0px;
}
.thumb img,
.thumb-left img,
.thumb-right img {
  border-radius: 5px;
}
.thumb-left {
  margin: 0px 15px 0px 0px;
  float: left;
  margin: 0px 15px 0px 0px;
}
.thumb-right {
  margin: 0px 0px 0px 15px;
  float: right;
  margin: 0px 0px 0px 15px;
}
.content-box-projects {
  padding-bottom: 20px;
}
.content-box-projects h1 {
  text-align: center;
  color: #a4bef1;
  font-family: 'Trajan Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #afa7d4;
  margin-top: 0px;
  line-height: 100%;
}
.content-box-projects.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0;
}
.content-box-projects.ng-hide-remove-active {
  opacity: 1;
}
.content-box-projects.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 1;
}
.content-box-projects.ng-hide-add-active {
  opacity: 0;
}
.content-box-projects .input-group {
  margin-bottom: 20px;
}
.project-box-wrapper-1 {
  margin-right: 0;
}
.project-box-wrapper-1.ng-enter,
.project-box-wrapper-1.ng-leave {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing: ease-out;
  -moz-transition-timing: ease-out;
  -o-transition-timing: ease-out;
  transition-timing: ease-out;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.project-box-wrapper-1.ng-leave.ng-leave-active,
.project-box-wrapper-1.ng-enter {
  opacity: 0;
  margin-right: -33.33333333%;
}
.project-box-wrapper-1.ng-enter.ng-enter-active,
.project-box-wrapper-1.ng-leave {
  opacity: 1;
  margin-right: 0;
}
.project-box-wrapper-2 {
  padding: 10px;
}
.piece-box-wrapper-3 {
  position: relative;
  width: 100%;
  padding-bottom: 25%;
}
.project-box-wrapper-3 {
  position: relative;
  width: 100%;
  padding-bottom: 65.25%;
}
.project-box {
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.project-box h2 {
  color: #f1f6fc;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 10px;
  text-shadow: -2px 1px 1px #000;
}
.piece-box {
  background-size: cover;
  background-color: #f1f6fc;
  color: #83a6ec;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.project-box-link,
.piece-box-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing: ease-out;
  -moz-transition-timing: ease-out;
  -o-transition-timing: ease-out;
  transition-timing: ease-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transform: scale(1);
}
.project-box-link:hover,
.piece-box-link:hover {
  transform: scale(1.1);
}
.piece-box-link {
  line-height: 100%;
  text-align: center;
}
.piece-video-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.connect-card {
  margin: 0 auto;
  width: 350px;
}
.connect-card h1 {
  font-size: 15px;
  margin-bottom: 2em;
  margin-top: 0;
}
.connect-card p {
  margin-bottom: 0.25em;
}
.connect-card td:nth-child(2) a {
  color: #f1f6fc;
  margin-bottom: 0.25em;
  margin-left: 10px;
}
.blog-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.blog-logo h1 {
  font-family: 'Trajan Pro Regular';
  font-size: 40px;
  font-weight: 400;
  color: #608de6;
  margin: 0px;
}
.blog-logo.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: -200%;
}
.blog-logo.ng-hide-remove-active {
  top: 0%;
}
.blog-logo.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 0%;
}
.blog-logo.ng-hide-add-active {
  top: -200%;
}
.relative {
  position: relative;
}
.blog-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.blog-left.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: -200%;
}
.blog-left.ng-hide-remove-active {
  left: 0%;
}
.blog-left.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0%;
}
.blog-left.ng-hide-add-active {
  left: -200%;
}
.blog-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.blog-right.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: absolute;
  left: 200%;
}
.blog-right.ng-hide-remove-active {
  position: absolute;
  left: 0%;
}
.blog-right.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: absolute;
  left: 0%;
}
.blog-right.ng-hide-add-active {
  position: absolute;
  left: 200%;
}
.blog-left-wrapper {
  position: relative;
  width: 100%;
}
.tag-cloud p,
.tag-cloud .spacer {
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}
.tag:hover {
  text-decoration: underline;
  cursor: pointer;
}
.blog-main {
  overflow: hidden;
  position: relative;
}
.blog-main h1 {
  font-family: "Questrial";
  font-size: 37.5px;
  font-weight: 400;
  color: #37179d;
  margin: 0px;
}
.blog-main h1 span.tag-span {
  color: #608de6;
}
.blog-main span.glyphicon {
  font-size: 30px;
  cursor: pointer;
}
.blog-main h2 {
  font-family: "Questrial";
  font-size: 30px;
  font-weight: 400;
  color: #608de6;
  margin: 5px 0px 15px 0px;
}
.blog-main h3,
.blog-read-more {
font
  -family: "Questrial";
  font-size: 15px;
  font-weight: 400;
  color: #608de6;
  margin: 0px;
}
.blog-main h4 {
  font-family: "Questrial";
  font-size: 12.5px;
  font-weight: 400;
  color: #608de6;
  margin: 0px;
}
.blog-main hr {
  border-color: #37179d;
  margin: 10px 0px 10px 0px;
}
.blog-main hr.header-hr {
  border-width: 2px;
}
.blog-main table.blog-entry-header {
  width: 100%;
}
.blog-main table.blog-entry-header tr td:nth-child(2) {
  text-align: right;
}
.blog-main-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.blog-main-header.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 100%;
}
.blog-main-header.ng-hide-remove-active {
  left: 0%;
}
.blog-main-header.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: 0%;
}
.blog-main-header.ng-hide-add-active {
  left: -100%;
}
.year-set {
  margin-bottom: 5px;
}
.year-set .glyphicon {
  margin-right: 2.5px;
}
.year-set .year-selector {
  margin-bottom: 5px;
  cursor: pointer;
}
.year-set .month-selector {
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.blog-entry.ng-enter {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -moz-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -o-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  max-height: 0px;
}
.blog-entry.ng-enter-active {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  max-height: 180px;
}
.blog-entry.ng-leave {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -moz-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -o-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, max-height;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  max-height: 180px;
}
.blog-entry.ng-leave-active {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  position: relative;
  max-height: 0px;
}
.blog-preview-wrapper {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 56.25px; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-read-more {
  cursor: pointer;
  margin-bottom: 5px;
}
.blog-read-more:hover {
  text-decoration: underline;
}
.login-rack {
  position: fixed;
  right: 0;
  z-index: 21;
  padding-right: 10px;
  line-height: 60px;
  font-size: 30px;
}
.login-rack .glyphicon {
  padding-left: 10px;
}
.login-rack a {
  color: #83a6ec;
  text-decoration: none;
}
.login-rack a:hover {
  color: #a4bef1;
  text-decoration: underline;
}
.login-rack a:active {
  text-decoration: underline;
}
.login,
.login-placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}
.login h1,
.login-placeholder h1 {
  margin-top: 0px;
  text-align: center;
}
.login .input-group,
.login-placeholder .input-group {
  width: 100%;
  margin: 5px;
}
.login .btn-group,
.login-placeholder .btn-group {
  margin: 5px;
}
.login.ng-hide-remove,
.login-placeholder.ng-hide-remove {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: -200%;
}
.login.ng-hide-remove-active,
.login-placeholder.ng-hide-remove-active {
  top: 0%;
}
.login.ng-hide-add,
.login-placeholder.ng-hide-add {
  display: block !important;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing: ease-in-out;
  -moz-transition-timing: ease-in-out;
  -o-transition-timing: ease-in-out;
  transition-timing: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 0%;
}
.login.ng-hide-add-active,
.login-placeholder.ng-hide-add-active {
  top: -200%;
}
.login-placeholder {
  position: relative;
  opacity: 0;
  z-index: 0;
}
.login-placeholder.ng-hide-remove {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  top: 0%;
}
.login-placeholder.ng-hide-remove-active {
  top: 0%;
}
.login-placeholder.ng-hide-add {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  top: 0%;
}
.login-placeholder.ng-hide-add-active {
  top: 0%;
}
.admin-landing {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing: ease-out;
  -moz-transition-timing: ease-out;
  -o-transition-timing: ease-out;
  transition-timing: ease-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transform: scale(1);
}
.admin-landing:hover {
  transform: scale(1.1);
}
.admin-landing h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.admin-blog-content {
  margin-bottom: 15px;
}
.admin-blog-tags {
  font-size: 12.5px;
  width: 100%;
}
.admin-tag-table {
  width: 100%;
  margin-bottom: 15px;
}
.admin-tag-table td input {
  color: #000;
  width: 100%;
}
.admin-submit-reset-table {
  width: 100%;
}
.admin-submit-reset-table td {
  width: 33.3%;
}
.column-spacer {
  z-index: -1;
  position: relative;
  width: 100%;
}
