doctype html
html.no-js(lang='en', ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include ./partials/common-include
    script(src='bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    div.site-background-frame
        div.site-background
        div.site-foreground
            div(ng-view)

include ./partials/common-scripts

 