div.container-fluid.content-box(ng-show="$state.is('composer-landing')")
	div.col-sm-6
		div.column-spacer(bind-to-height="['height','#composer-landing-left']")
		div#composer-landing-left.landing-left(ng-show="$state.is('composer-landing')")
			div.wrapper-panel
				div.video-panel
					div.video-wrapper
						iframe(src="https://www.youtube.com/embed/WlFNjR2TSu4" frameborder="0" allowfullscreen)
				div.video-caption
					h1 "The Insomniac" for Laptop Orchestra

	div.col-sm-6
		div.column-spacer(bind-to-height="['height','#composer-landing-right']")
		div#composer-landing-right.landing-right(ng-show="$state.is('composer-landing')")
			div.content-panel-1
				div.clearfix
					div.thumb-left
						img(src="images/cube-19.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['composer-blurb'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}
