div.container-fluid.content-box(ng-show="$state.is('general-landing')")
	div.col-sm-6
		div.column-spacer(bind-to-height="['height','#general-landing-left']")
		div#general-landing-left.landing-left(ng-show="$state.is('general-landing')")
			div.wrapper-panel
				div.video-panel
					div.video-wrapper
						include ./landing-carousel.html
	div.col-sm-6
		div.column-spacer(bind-to-height="['height','#general-landing-right']")
		div#general-landing-right.landing-right(ng-show="$state.is('general-landing')")
			div.content-panel-1
				div.clearfix
					div.thumb-left
						img(src="images/photoshoot-03.jpg",width="auto",height="150px")
					p(ng-repeat="paragraph in breakByNewLine(textcontent['general-blurb'])") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph }}