<div id="landingCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../../images/fidelity-group.jpg" alt="Fidelity Group">
    </div>

    <div class="item">
      <img src="../../../images/composition-group.jpg" alt="Composition Class">
    </div>

    <div class="item">
      <img src="../../../images/cube-pointing.jpg" alt="Insomniac">
    </div>

    <div class="item">
      <img src="../../../images/photoshoot-woods.jpg" alt="Photoshoot (Woods)">
    </div>
  </div>

</div>