div.landing-right(ng-show="$state.includes('programmer-landing')")
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur interdum justo, et rhoncus nisi tincidunt ut. Aenean maximus porta leo, eget congue diam facilisis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse magna diam, dictum ut nibh id, elementum porttitor ligula. Fusce in vehicula tortor. Nulla semper feugiat vulputate. Vivamus posuere accumsan tincidunt. Ut eu nunc purus.

div.landing-left(ng-show="$state.includes('programmer-landing')")
	div.video
		iframe(width="560" height="315" src="https://www.youtube.com/embed/F39zXiwbk6E" frameborder="0" allowfullscreen)
	div.video-caption
		h1 TileTraveler